<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension id="DLQueryTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Lizard Tab"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="L"/>
        <defaultViewConfigFileName value="viewconfig-lizardtab.xml"/>
        <protegeDefaultTab value="true"/>
    </extension>
    
   <extension id="org.coode.dlquery.lizard.OWLClassExpressionEditorViewComponent"
     		   point="org.protege.editor.core.application.ViewComponent">
        <label value="DL query"/>
        <class value="org.coode.dlquery.lizard.OWLClassExpressionEditorViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.querycategory"/>
    </extension>

<!--
   <extension id="TestView"
     		   point="org.protege.editor.core.application.ViewComponent">
        <label value="Test View"/>
        <class value="cin.ufpe.lizard.TestView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.querycategory"/>
    </extension>
-->

	<extension id="lizard.prefs"
				point="org.protege.editor.core.application.preferencespanel">
		<label value="Lizard Bases"/>
		<class value="cin.ufpe.lizard.LizardPreferencesPane"/>
	</extension>
</plugin>
